
@media only screen and (max-width: 1024px) {
html {
	font-size: 9.375px;
}
}

@media only screen and (max-width: 768px) {
html {
	font-size: 10px;
}
}

@media only screen and (max-width: 400px) {
html {
	font-size: 9.375px;
}
}
html {
	scroll-behavior: smooth;
}
body {
	background: #111111;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #353535;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
h1 {
	font-size: 30px;
	line-height: 36px;
	margin-top: 0;
	letter-spacing: -1px;
}
h1, h2, h3, h4, h5, h6, h8,  {
	font-family: 'Montserrat', sans-serif;
	color: #151515;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}
h8 {
	font-size: 20px;
	line-height: 30px;
}
h1 {
	font-size: 2.6rem;
	letter-spacing: -.07rem;
	left: 50%;
}
}
h3{
	font-size: 2rem;
	line-height: 1.5;
	padding-top: 1.8rem;
}
h3 {
	margin-bottom: 1.8rem;
}
h1{
	font-size: 3.1rem;
	line-height: 1.35;
	letter-spacing: -.1rem;
}
.section-intro {
	text-align: center;
	position: relative;
	margin-bottom: 1.5rem;
	left: 40%;
}
.section-intro h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 4.8rem;
	line-height: 1.375;
	color: #151515;
}

.section-intro h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	line-height: 1.667;
	color: rgba(242, 242, 242, 0.5);
	text-transform: uppercase;
	letter-spacing: .3rem;
	margin-bottom: 1.2rem;
}

.section-intro .lead {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8;
	line-height: 1.833;
}
.section-intro.with-bottom-sep {
	padding-bottom: 4.2rem;
	position: relative;
}
.section-intro.with-bottom-sep::after {
	display: inline-block;
	height: 1px;
	width: 200px;
	background-color: rgba(242, 242, 242, 0.1);
	text-align: center;
}
/*about*/
p.lead {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	line-height: 1.8;
	color: #4f4f4f;
	margin-bottom: 3.6rem;
	text-align: center;
}

#about {
	position: relative;
	padding: 4.2rem 0 12rem;
	background-color: #FFFFFF;
	min-height: 696px;
	text-align: center;
	left: 30%;
}
#about .about-wrap {
	max-width: 850px;
}
#about span {
	color: #07617d;
}
#about h3 {
	font-family: 'Questrial', sans-serif;
	font-size: 1.8rem;
	line-height: 1.667;
	color: #07617d;
	text-transform: uppercase;
	letter-spacing: .3rem;
	position: relative;
}
#about h3::before {
	display: block;
	content: "";
	width: 3px;
	height: 9.6rem;
	background-color: rgba(149, 149, 149, 0.7);
	margin: 0 auto 2.4rem;
}
#about .lead {
	font-family: 'Libre Baskerville', serif;
	font-size: 4rem;
	line-height: 1.8;
	color: #2e383f;
	margin-top: 6rem;
}
/*gallery*/
.row {
	margin: 15px;
	padding-top: 20px;
}
.small {
	font-size: 11px;
	color: #999;
	display: block;
	margin-top: -10px
}
#cont {
	text-align: center;
	background-color: #19191b;
	background-image: url(../image/services-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 800px;
	position: relative;
	padding: 15rem 0 15rem;
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.3);
}
#cont .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(5, 5, 5, 0.7);
}
#cont .gradient-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .4;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9000000', endColorstr='#00000000', GradientType=0);
}
#cont .section-intro h3 {
	color: rgba(242, 242, 242, 0.5);
}
#cont .section-intro h1 {
	color: #FFFFFF;
}
#cont .section-intro .lead {
	color: rgba(242, 242, 242, 0.4);
}
/* carousel */
#content-slider {
	text-align: center;
	background-color: #19191b;
	background-image: url(../image/banner-member.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 800px;
	position: relative;
	padding: 15rem 0 15rem;
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.3);
}
#content-slider .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(5, 5, 5, 0.7);
}
#content-slider .gradient-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .4;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9000000', endColorstr='#00000000', GradientType=0);
}
/* ----> wrapper */

#content-slider .wrap-slider {
	max-width: 1200px;
	/*height: 100%;*/
	width: 100%;
	margin: 0px auto;
	position: relative;
	text-align: right;
}
#content-slider .wrap-slider.full {
	width: 100%;
	max-width: 100%;
	text-align: center;
	border: none;
}
/* --------> Link style */
#content-slider *:focus {
	outline: 0;
}
#content-slider a:hover {
	color: #7FD4FD;
	text-decoration: underline;
}
#content-slider a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
#content-slider a:hover, #content-slider a:active {
	outline: 0;
}
/* -------> Responsive images (ensure images don't scale beyond their parents) */
#content-slider img {
	max-width: 100%;
	width: auto \9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
/* -------> Main */

#content-slider .slider {
	margin-top: 5%;
	/*position: absolute;*/
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	border: 0.4px solid white;
	background-color: transparent;
	border-radius: 12px;
	position: relative;
}
#content-slider .inset {
	width: 500%;
	line-height: 0;
	-webkit-animation: 30s slidy infinite;
	-moz-animation: 30s slidy infinite;
	-ms-animation: 30s slidy infinite;
	-o-animation: 30s slidy infinite;
	animation: 30s slidy infinite;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}
.main-title {
	text-align: center;
	font-family: 'Questrial', sans-serif;
	font-size: 5rem;
	line-height: 1.667;
	color: white;
	text-transform: uppercase;
	letter-spacing: .3rem;
	position: relative;
}
#content-slider h1 {
	text-align: center;
	color: #00ABFA;
	font-weight: 200;
	font-size: 2rem;
	line-height: 3rem;
	text-transform: uppercase;
	margin: 5px 0 0px 0;
}
#content-slider .slider [class*='title-'] {
	background: rgba(0, 0, 0, 0.51);
	padding: 1% 1%;
	display: inline-block;
	width: 40%;
	height: auto;
	position: absolute;
	z-index: 12;
	margin: 15px 0 0 15px;
	line-height: normal;
	overflow: hidden;
	text-align: left;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/* -------> Article */
#content-slider .slider h1, #content-slider h1 {
	color: #fffefe;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
#content-slider .slider p, #content-slider p {
	color: #fffefe;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
#content-slider .slider a, #content-slider a {
	font-weight: bold;
	color: #00ABFA;
	text-decoration: none;
	text-transform: uppercase;
}
/* -------> Article IMg Slider */
#content-slider .slider h1 {
	font-size: 1.5rem;
}
#content-slider .slider p {
	font-size: 1.2rem;
}
#content-slider .slider a {
	font-size: 1rem;
}
/* -------> Article IMg Prev */
#content-slider h1 {
	font-size: 1rem;
}
#content-slider p {
	font-size: .875rem;
}
#content-slider a {
	font-size: .75rem;
}
/* -------> Main Img */
#content-slider figure {
	margin: 0;
	padding: 0;
	width: 20%;
	float: left;
	cursor: pointer;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}
#content-slider figure img {
	width: 100%;
	position: relative;
}
#content-slider input[type='radio'] {
	width: 10px;
	height: 10px;
	display: none;
	position: relative;
	display: none;
}
#control {
	position: absolute;
	left: 3%;
	z-index: 5;
	top: 55%;
	width: 95%;
}
#content-slider label.first {
	width: 9px;
	height: 9px;
	margin: 0 2px;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 1000;
	cursor: pointer;
	border-radius: 100%;
	border: 2px solid #00ABFA;
	background: #00ABFA;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#content-slider #main {
	padding: 1% 0;
	width: 100%;
	/*margin-top: 29.2%;*/
	bottom: 0;
	z-index: 10;
	position: absolute;
	text-align: center;
	background: rgba(0, 0, 0, 0.71);
	border-radius: 12px;
	border: 0.3px solid white;
}
#content-slider input[type='radio'] {
	width: 10px;
	height: 10px;
	display: none;
	position: relative;
	display: none;
}
#content-slider #control {
	position: absolute;
	left: 3%;
	z-index: 15;
	top: 0%;
	width: 95%;
	/*margin-top: 10%;*/

    /*display: none;*/
	height: 50px;
	top: 50%;
	margin-top: -25px;
}
/* -------> Controls */
#main > label:hover {
	width: 9px;
	height: 9px;
	background: #FFF;
	border: 1px solid #00ABFA;
}
input#a-1:checked ~ .slider .inset {
	margin-left: 0%;
}
input#a-2:checked ~ .slider .inset {
	margin-left: -100%;
}
input#a-3:checked ~ .slider .inset {
	margin-left: -200%;
}
input#a-4:checked ~ .slider .inset {
	margin-left: -300%;
}
input#a-5:checked ~ .slider .inset {
	margin-left: -400%;
}
input#a-1:checked ~ #main > label:nth-child(1) {
	opacity: 1;
	background: #fff;
}
input#a-2:checked ~ #main > label:nth-child(2) {
	opacity: 1;
	background: #fff;
}
input#a-3:checked ~ #main > label:nth-child(3) {
	opacity: 1;
	background: #fff;
}
input#a-4:checked ~ #main > label:nth-child(4) {
	opacity: 1;
	background: #fff;
}
input#a-1:checked ~ #control > label:nth-child(2), input#a-2:checked ~ #control > label:nth-child(3), input#a-3:checked ~ #control > label:nth-child(4), input#a-4:checked ~ #control > label:nth-child(1), input#a-5:checked ~ #control > label:nth-child(1), input#a-1:checked ~ #control > label:nth-child(4), input#a-2:checked ~ #control > label:nth-child(1), input#a-3:checked ~ #control > label:nth-child(2), input#a-4:checked ~ #control > label:nth-child(3) {
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
input#a-1:checked ~ #control > label:nth-child(2):after, input#a-2:checked ~ #control > label:nth-child(3):after, input#a-3:checked ~ #control > label:nth-child(4):after, input#a-4:checked ~ #control > label:nth-child(1):after, input#a-5:checked ~ #control > label:nth-child(1):after, input#a-1:checked ~ #control > label:nth-child(4):after, input#a-2:checked ~ #control > label:nth-child(1):after, input#a-3:checked ~ #control > label:nth-child(2):after, input#a-4:checked ~ #control > label:nth-child(3):after {
	font-family: FontAwesome;
	font-size: 7rem;
	line-height: 7rem;
	color: #00ABFA;
	position: absolute;
	top: 0;
	left: 0;
}
input#a-1:checked ~ #control > label:nth-child(2), input#a-2:checked ~ #control > label:nth-child(3), input#a-3:checked ~ #control > label:nth-child(4), input#a-4:checked ~ #control > label:nth-child(1) {
	float: right;
	right: 0.3%;
}
input#a-1:checked ~ #control > label:nth-child(2):after, input#a-2:checked ~ #control > label:nth-child(3):after, input#a-3:checked ~ #control > label:nth-child(4):after, input#a-4:checked ~ #control > label:nth-child(1):after {
	content: "\f105";
}
input#a-1:checked ~ #control > label:nth-child(4), input#a-2:checked ~ #control > label:nth-child(1), input#a-3:checked ~ #control > label:nth-child(2), input#a-4:checked ~ #control > label:nth-child(3) {
	float: left;
	left: 0.3%;
}
input#a-1:checked ~ #control > label:nth-child(4):after, input#a-2:checked ~ #control > label:nth-child(1):after, input#a-3:checked ~ #control > label:nth-child(2):after, input#a-4:checked ~ #control > label:nth-child(3):after {
	content: "\f104";
}
span#a-1:focus ~ .slider .inset {
	margin-left: 0%;
}
span#a-2:focus ~ .slider .inset {
	margin-left: -100%;
}
span#a-3:focus ~ .slider .inset {
	margin-left: -200%;
}
span#a-4:focus ~ .slider .inset {
	margin-left: -300%;
}
span#a-5:focus ~ .slider .inset {
	margin-left: -400%;
}
#content-slider input:checked ~ .slider > .inset {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
}
#content-slider input:hover ~ .slider > .inset, #content-slider label:hover ~ .slider > .inset {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
#content-slider input:hover ~ .slider > .inset, #content-slider label:hover ~ .slider > .inset {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
#content-slider span:focus ~ .slider > .inset {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
}
#content-slider span:hover ~ .slider > .inset {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}


/* -------> Animation */

@keyframes slidy {
 20% {
 margin-left: 0%;
}
 25% {
 margin-left: -100%;
}
 45% {
 margin-left: -100%;
}
 50% {
 margin-left: -200%;
}
 70% {
 margin-left: -200%;
}
 75% {
 margin-left: -300%;
}
 95% {
 margin-left: -300%;
}
 100% {
 margin-left: -400%;
}
}
 @-webkit-keyframes slidy {
 20% {
 margin-left: 0%;
}
 25% {
 margin-left: -100%;
}
 45% {
 margin-left: -100%;
}
 50% {
 margin-left: -200%;
}
 70% {
 margin-left: -200%;
}
 75% {
 margin-left: -300%;
}
 95% {
 margin-left: -300%;
}
 100% {
 margin-left: -400%;
}
}
 @-moz-keyframes slidy {
 20% {
 margin-left: 0%;
}
 25% {
 margin-left: -100%;
}
 45% {
 margin-left: -100%;
}
 50% {
 margin-left: -200%;
}
 70% {
 margin-left: -200%;
}
 75% {
 margin-left: -300%;
}
 95% {
 margin-left: -300%;
}
 100% {
 margin-left: -400%;
}
}
 @-o-keyframes slidy {
 20% {
 margin-left: 0%;
}
 25% {
 margin-left: -100%;
}
 45% {
 margin-left: -100%;
}
 50% {
 margin-left: -200%;
}
 70% {
 margin-left: -200%;
}
 75% {
 margin-left: -300%;
}
 95% {
 margin-left: -300%;
}
 100% {
 margin-left: -400%;
}
}
/*team introduction*/
img {
	max-width: 100%;
}
#team {
	padding: 150px 0;
}
#fun-fact, #team {
	background: #6ba8a9;
}
#team .team-section-text {
	padding-top: 70px;
}
.section-count, .section-title {
	font-family: 'Josefin Sans', sans-serif;
}
.section-count {
	height: 120px;
	overflow: hidden;
	font-weight: 100;
}
.section-count > span {
	color: #e6e9f4;
	display: block;
	font-size: 220px;
	line-height: .7em;
}
.section-title {
	color: #594a4e;
	font-size: 60px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.section-text > p {
	margin-bottom: 15px;
}
#team {
	padding: 150px 0
}
#team .team-section-text {
	padding-top: 70px
}
#team .team-single {
	border: 8px solid #e6e9f4;
	margin: 0 auto;
	padding: 15px;
	width: 320px;
	display: none
}
#team .team-single.active {
	display: block
}
#team .team-list > ul {
	list-style: none;
	margin: 0;
	padding: 0
}
#team .team-list > ul > li {
	position: relative;
	margin: 15px 0
}
#team .team-list > ul > li:first-child {
	margin-top: 0
}
#team .team-list > ul > li:last-child {
	margin-bottom: 0
}
#team .team-list > ul > li.active > a > figure:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(131, 158, 226, .7)
}
#team .team-list > ul > li.active::after {
	color: #3e6edf;
	content: "ï¡";
	font-family: fontawesome;
	margin-top: -10px;
	position: absolute;
	right: 0;
	top: 50%
}
#team .team-list > ul > li > a > figure {
	border-radius: 50%;
	height: 100px;
	overflow: hidden;
	width: 100px;
	position: relative
}
#team .team-info > h4 {
	color: #3a3a3a;
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 20px;
	text-align: center
}
#team .team-img {
	position: relative
}
#team .team-img > img {
	width: 100%;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
#team .team-social > ul {
	bottom: 0;
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
	position: absolute;
	right: 30px;
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}
#team .team-social > ul > li > a {
	border-radius: 50%;
	color: #3e6edf;
	display: block;
	font-size: 18px;
	height: 40px;
	margin: 15px 5px;
	padding: 8px;
	position: relative;
	text-align: center;
	width: 40px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
#team .team-social > ul > li > a:hover {
	background: #3e6edf;
	color: #fff
}
#team .team-social > ul > li > a::after {
	border: 1px solid #dee3f4;
	border-radius: 50%;
	content: "";
	height: 50px;
	left: -5px;
	position: absolute;
	top: -5px;
	width: 50px
}
#team .team-single:hover .team-img > img {
	margin-left: -70px
}
#team .team-single:hover .team-social > ul {
	opacity: 1;
	right: 0
}

/*project idea*/
#project {
	text-align: center;
	background-color: #19191b ;
    background: 
    linear-gradient(#4A6D7C 0%, #242424 90%), 
    linear-gradient(to right, #19191b 0%, #BEB7A4 90%), 
    url(../image/project_idea.jpg) 30px,
    url(../image/project_idea.jpg) 20px;
  background-blend-mode: screen, difference, lighten;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 800px;
	position: relative;
	padding: 15rem 0 15rem;
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.3);
}

#project .gradient-overlay {
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .4;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9000000', endColorstr='#00000000', GradientType=0);
}
#project .section-intro h1 {
	color: #FFFFFF;
}

/* project html */
/* gg form */
#google_form{
	background: url(../image/interview_banner.jpg);
	background-blend-mode: screen, difference, lighten;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 80vh;
	position: relative;
	padding: 2rem 0 2rem;
	margin-bottom: 0; 
	color: rgba(255, 255, 255, 0.3);	
}



iframe{
	border:none;
	width:1280px;
	height: 1280px;
	padding: 10px;
	margin-left:670px;
	
	
}
.gg_form{
	height:950px;
	width:540px;
	overflow-y:hidden;
	border: 1px solid white;
	
	

} 
/* risk */
#project_2{
		text-align: center;
		background-color: #19191b ;
	
	  background-blend-mode: screen, difference, lighten;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		min-height: 800px;
		position: relative;
		padding: 5rem 0 5rem;
		margin-bottom: 0;
		color: rgba(255, 255, 255, 0.3);
	
	
}


  